.custom-input-field {
    position: relative;
    display: flex;
    align-items: center;
    width: 240px;
}

.custom-input-field.has-icon .custom-input {
    padding-left: 2.25rem;
}

.custom-input-field .eve-input {
    margin-bottom: 0;
}

.custom-input {
    background: #fff;
    border: 1px solid #cfd8dc;
    outline: none;
    color: #333;
    width: 100%;
    max-width: 100%;
    width: 240px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    box-sizing: border-box;
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 1rem;
    font-size: .875rem;
}

.custom-input:focus {
    border-color: #2196f3;
}

.custom-input-field.has-icon i {
    color: #b0bec5;
}

.custom-input-field.has-icon i,
.custom-input-field.has-icon svg {
    position: absolute;
}

.custom-input-field.has-icon i {
    font-size: 1.125rem;
}

.custom-input-field.has-icon i,
.custom-input-field.has-icon svg {
    left: .5625rem;
    top: .5625rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
